@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #222222;
        --bg-color-alt: #272727;
        --button-color: #3b3b3b;
        --button-hover: #535353;
        --button-click: #696969;
        --button-selectedApp: #d44f7b;
        --button-green: #2a8921;
        --button-green-hover: #39af2f;
        --button-green-click: #48ca3d;
        --text-color: #FFFFFF;
        --link-color: #1470a6;
        --link-color-hover: #2293d5;
        --link-color-click: #2facf5;
        --button-popupAccept: hsl(0, 56%, 45%);
        --button-popupAccept-hover: hsl(0, 56%, 51%);
        --button-popupAccept-click: hsl(0, 56%, 53%);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFFFFF;
        --bg-color-alt: #f1f1f1;
        --button-color: #e9e9e9;
        --button-hover: #c8c8c8;
        --button-click: #bababa;
        --button-selectedApp: #ff88aa;
        --button-green: #acff88;
        --button-green-hover: #85ff51;
        --button-green-click: #64dd30;
        --text-color: #000000;
        --link-color: #86d2ff;
        --link-color-hover: #4ebeff;
        --link-color-click: #1fadff;
        --button-popupAccept: #ff8686;
        --button-popupAccept-hover: #ff6e6e;
        --button-popupAccept-click: #ff4f4f;
    }
}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    zoom: 120%;
}

h2 {
    margin: 0;
}

.textBackground {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-style: solid;
    border-radius: 3px / 3px;
    padding: 0px;
}

button {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-style: solid;
    border-radius: 3px / 3px;

    color: var(--text-color);

    transition: 0.2s;
}

button:hover {
    background-color: var(--button-hover);
    border-color: var(--button-hover);
}

button:active {
    background-color: var(--button-click);
    border-color: var(--button-click);
}

button:disabled,
button[disabled] {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

button:disabled:hover,
button[disabled]:hover {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.buttonSelectedApp {
    background-color: var(--button-selectedApp) !important;
    border-color: var(--button-selectedApp) !important;
}

.buttonBig {
    border-width: 3px;
}

.buttonGreen {
    background-color: var(--button-green) !important;
    border-color: var(--button-green) !important;
}

.buttonGreen:hover {
    background-color: var(--button-green-hover) !important;
    border-color: var(--button-green-hover) !important;
}

.buttonGreen:active {
    background-color: var(--button-green-click) !important;
    border-color: var(--button-green-click) !important;
}

a {
    background-color: var(--link-color);
    border-color: var(--link-color);
    color: var(--text-color);
    text-decoration: none;

    border-style: solid;
    border-width: 3px;
    border-radius: 3px / 3px;

    padding: 0px;
    transition: 0.2s;
}

a:hover {
    background-color: var(--link-color-hover);
    border-color: var(--link-color-hover);
}

a:active {
    background-color: var(--link-color-click);
    border-color: var(--link-color-click);
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu button {
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
}

.horizontal {
    display: inline-block;
}

input[type=text] {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-style: solid;
    border-radius: 3px / 3px;
}

textarea {
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-style: solid;
    border-radius: 3px / 3px;
    font-family: monospace, Arial, Helvetica, sans-serif;
    resize: vertical;
}

input[type=text][disabled],
textarea[disabled],
button[disabled]:not(.buttonSelectedApp) {
    opacity: 0.4;
}

.popup {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBox {
    width: 300px;
    height: 100px;
    background: var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}


.buttonYes {
    background-color: var(--button-popupAccept) !important;
    border-color: var(--button-popupAccept) !important;
}

.buttonYes:hover {
    background-color: var(--button-popupAccept-hover) !important;
    border-color: var(--button-popupAccept-hover) !important;
}

.buttonYes:active {
    background-color: var(--button-popupAccept-click) !important;
    border-color: var(--button-popupAccept-click) !important;
}

@keyframes popupAnimOpen {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popupAnimClose {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes popupAnimBoxOpen {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes popupAnimBoxClose {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes usernameChangeOpen {
    0% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes usernameChangeClose {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 0);
    }
}

.usernameConfirm {
    position: absolute;
    transform-origin: top;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}